<p>ばかみたい　子供なのね
Baka mitai kodomo nano ne

夢を追って傷ついて
Yume wo otte kizutsuite

嘘が下手な癖に笑えない笑顔を見せた
Uso ga heta na kuse ni waraenai egao wo miseta


I love youもろくに言わない
I love you moroku ni iwanai

口下手で本当に不器用
Kuchi-ben de hontō ni bukiyō

なのになのにどうしてさよならは言えたの
Na no ni na no ni dōshite sayonara wa ieta no


だめだね
Dame da ne

だめよだめなのよ
Dame yo dame na no yo

あんたが好きで好きすぎて
Anta ga suki de suki sugite

どれだけ強いお酒でも
Dore dake tsuyoi osake demo

歪まない思い出がばかみたい
Yugamanai omoide ga baka mitai


ばかみたい 本当ばかね
Baka mitai hontō baka ne

あんた信じるばかりで
Anta shinjiru bakari de

強い女のふり 切なさの夜風浴びる
Tsuyoi onna no furi setsunasa no yokaze abiru


一人になって三年が過ぎ
Hitori ni natte san-nen ga sugi

街並みさえも変わりました
Machinami sae mo kawarimashita

なのになのにどうして未練だけ置き去り
Na no ni na no ni dōshite miren dake okizari


本当にろくな男やない
Hontō ni roku na otoko ya nai

揃いの指輪外します
Soroi no yubiwa hazushimasu

ざまあみろ成政するわ
Zamaamiro nari-masa suru wa

いい加減待っててもばかみたい
Ii kagen matte temo baka mitai


だめだねだめよだめなのよ
Dame da ne dame yo dame na no yo

あんたが好きで好きすぎて
Anta ga suki de suki sugite

どれだけ強いお酒でも
Dore dake tsuyoi osake demo

歪まない思い出がばかみたい
Yugamanai omoide ga baka mitai


本当にろくな男やない
Hontō ni roku na otoko ya nai

揃いの指輪外します
Soroi no yubiwa hazushimasu

ざまあみろ成政するわ
Zamaamiro nari-masa suru wa

なんなよこの涙ばかみたい
Nan na yo kono namida baka mitai
</p>
